.git
.github/
venv/
.venv/
__pycache__/
*.pyc
notebooks/
tests/
data/
scripts/
airflow/
infra/
monitoring/
logs/
k8s/
churn-api-chart/
.dvc/
churn-dvc-storage/
mlruns/
mlflow.db
.idea/
.env
.pytest_cache/
*.egg-info/
